$border-color: #000;
$segment-width: 50%;
$segment-height: 50%;

.wheel {
  margin-top: 1rem;
  margin-left: 1rem;
  position: relative;
  width: 95vh;
  height: 95vh;
  border-radius: 100%;
  border: px solid $border-color;
  overflow: hidden;
}

.segment {
  position: absolute;
  width: $segment-width;
  height: $segment-height;
  transform-origin: 100% 100%;
  // border: 1px solid white;
}

.label {
  color: white;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  // left: 80%; // change left dynamically based on the size of segment
  text-align: center;
}
