$lucky-red: #ff2424;
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 95vh;
  height: 95vh;
  display: flex;
  justify-content: center;
  @include flex-center;
  margin-top: 1.5rem;

  .needle {
    position: absolute;
    z-index: 10;
    top: 30px;
    left: 30px;
    width: 150px;
    height: 150px;
    background: red;
    clip-path: polygon(33% 0, 0 36%, 100% 100%);
    @include flex-center;

    span {
      color: white;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: bold;
      text-align: center;
      transform: rotate(45deg);
    }
  }

  .spinBtn {
    position: absolute;
    width: 150px;
    height: 150px;
    padding: 1rem;
    background: $lucky-red;
    border-radius: 50%;
    z-index: 10;
    border: 3px solid white;
    @include flex-center;

    span {
      color: white;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
    }
  }

  .wheel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;

    .segment {
      position: absolute;
      width: 50%;
      height: 50%;
      background: var(--segment-color);
      transform-origin: bottom right;
      transform: rotate(
        calc(360deg / var(--total-segments) * var(--segment-index))
      );
      clip-path: var(--clip-path);
      @include flex-center;

      .label {
        position: relative;
        transform: rotate(45deg);
        color: white;
        background: rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
}
